readnik.md 
dev/
.env
service/.env
service/.env_demo
service/.env_real
service/.env_service_demo
service/.env_service_real
metrics/experiment-runner/.env
metrics/experiment-runner/.env_demo
metrics/experiment-runner/.env_real
metrics/experiment-runner/.env_runner_demo
metrics/experiment-runner/.env_runner_real
data/product-doc


deployment-log/*
!deployment-log/README.md
!deployment-log/last/README_1.md
!deployment-log/all/README_2.md


metrics/input/*
metrics/output/*
!metrics/output/demo-Last-Run.md
!metrics/output/demo_output.xlsx
!metrics/output/demo-Metadata.csv
!metrics/output/demo-Runs.csv
metrics/input/*
!metrics/input/your-ground-truth.xlsx
!metrics/input/demo-ground-truth.xlsx

service/src/main/resources/test-small.json
service/src/main/resources/test.json
service/src/main/resources/test-medium.json

#Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
.flattened-pom.xml

mvnw
mvnw.cmd
.mvn

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
.env

readnik.md
scripts/.env_container_start
scripts/env_container_start.sh
metrics/Last-Run.md
metrics/experiment-runner/score_temp.py
metrics/experiment-runner/test
.env_backup
scripts/tsuedbro_tests.md
metrics/experiment-runner/.env_contains_several_configurations
service/.env_drdecr_gpu_configuration
service/.env_watbert_gpu_configuration
metrics/experiment-runner/.env_gpu_configuration_watbert
metrics/experiment-runner/.env_cpu_configuration_watbert
service/.env_watbert_cpu_configuration
