readnik.md 
.env
service/.env
data/product-doc

metrics/input/*
metrics/output/*
!metrics/output/demo-Last-Run.md
!metrics/output/demo_output.xlsx
!metrics/output/demo-Metadata.csv
!metrics/output/demo-Runs.csv
metrics/input/*
!metrics/input/your-ground-truth.xlsx
!metrics/input/demo-ground-truth.xlsx

service/src/main/resources/test-small.json
service/src/main/resources/test.json

evaluations/error.log
evaluations/env
evaluations/__pycache__
evaluations/test_input_export_from_excel.csv
evaluations/test_input_excel.xlsx
evaluations/metrics_output.csv
evaluations/IBM_Gen_AI_Q_and_A_Consolidated.xlsx
evaluations/test_output.csv
evaluations/Book1.xlsx
evaluations/outputs/*
evaluations/inputs/*
evaluations/outputs/*
!evaluations/outputs/YOUR_OUTPUT.txt
evaluations/inputs/*
!evaluations/inputs/YOUR_INPUT.txt

#Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
.flattened-pom.xml

mvnw
mvnw.cmd
.mvn

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
.env

readnik.md
scripts/.env_container_start
scripts/env_container_start.sh
metrics/1681396693-Metadata.csv
metrics/1681396693-Runs.csv
metrics/1681398722-Metadata.csv
metrics/1681398722-Runs.csv
metrics/Last-Run.md
metrics/myrun/1681329199-Metadata.csv
metrics/myrun/1681329199-Runs.csv
metrics/myrun/1681391917-Metadata.csv
metrics/myrun/1681391917-Runs.csv
metrics/myrun/Last-Run.md
