# Mandatory Configuration for Demo
##################################

#ElasticSearch
export ELASTIC_SEARCH_URL=xxx
export ELASTIC_SEARCH_INDEX=xxx
export ELASTIC_SEARCH_USER=xxx
export ELASTIC_SEARCH_PASSWORD=xxx

# Discovery
export DISCOVERY_API_KEY=xxx
export DISCOVERY_URL=xxx
export DISCOVERY_INSTANCE=xxx
export DISCOVERY_PROJECT=xxx
export DISCOVERY_COLLECTION_ID=xxx

# ReRanker
export RERANKER_URL=http://xxx/RerankRequest



# Mandatory Configuration for real Scenario
###########################################

# MaaS
export MAAS_URL=http://maasmock:8082/v1/generate
export MAAS_API_KEY=xxx
export PROXY_API_KEY="NOT_SET"
export PROXY_URL="NOT_SET"



# Optional Configuration
########################

#ElasticSearch
export ELASTIC_SEARCH_MAX_OUTPUT_DOCUMENTS=6
export ELASTIC_SEARCH_HIGHLIGHT_FIELD=text
export ELASTIC_SEARCH_FIELD_1=title
export ELASTIC_SEARCH_FIELD_2=text
export ELASTIC_SEARCH_FILTER_NAME_1=
export ELASTIC_SEARCH_FILTER_VALUE_1=
export ELASTIC_SEARCH_FILTER_NAME_2=
export ELASTIC_SEARCH_FILTER_VALUE_2=
export ELASTIC_SEARCH_FILTER_NAME_3=
export ELASTIC_SEARCH_FILTER_VALUE_3=

# MaaS
export EXPERIMENT_LLM_NAME=google/flan-t5-xxl
export EXPERIMENT_LLM_PROMPT="Document: <<CONTEXT>>\n\nQuestion: <<QUESTION>>\nAnswer the question using the above document. Answer: "
export EXPERIMENT_LLM_MIN_NEW_TOKENS=1
export EXPERIMENT_LLM_MAX_NEW_TOKENS=300
export EXPERIMENT_LLM_MAX_INPUT_DOCUMENTS=3

# Discovery
export EXPERIMENT_DISCOVERY_MAX_OUTPUT_DOCUMENTS=30
export EXPERIMENT_DISCOVERY_CHARACTERS=1000
export EXPERIMENT_DISCOVERY_FIND_ANSWERS=false

# ReRanker
export EXPERIMENT_RERANKER_MODEL="/store/checkpoints/drdecr/DrDecr.dnn"
export EXPERIMENT_RERANKER_ID=ColBERTReranker
export EXPERIMENT_RERANKER_MAX_INPUT_DOCUMENTS=20

# Question Answering
export MAX_RESULTS=5
export QA_API_KEY="xxx"
export EXPERIMENT_METRICS_SESSION=$(date +%s)
export EXPERIMENT_METRICS_DIRECTORY=$(pwd)/../metrics/output

# PrimeQA - mandatory if used
export PRIME_QA_URL=xxx